<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.mapper.KpiDimMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhang.entity.KpiDim">
        <id column="id" property="id" />
        <result column="kpi_type_id" property="kpiTypeId" />
        <result column="kpi_desc" property="kpiDesc" />
        <result column="unit" property="unit" />
        <result column="dept_id" property="deptId" />
        <result column="del" property="del" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, kpi_type_id, kpi_desc, unit, dept_id, del, sort
    </sql>

</mapper>
