<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.mapper.KpiTypeDimMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhang.entity.KpiTypeDim">
        <id column="id" property="id" />
        <result column="parent_type" property="parentType" />
        <result column="type_level" property="typeLevel" />
        <result column="type_desc" property="typeDesc" />
        <result column="del" property="del" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_type, type_level, type_desc, del, sort
    </sql>

</mapper>
